<div class="main-content">
    <div class="section-content section-content-p30">

        <!-- 
        /*  ------------------- NOTE ---------------------------------------------
        Modifying THE RouterLink TO PASS the categoryName along with the id
        3. display the categoryName property in the html page
        -------------------------------------------------------------------------
      */ -->

      <h4>Category: {{category.categoryName}}</h4>
      <hr>

        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products-->
                <div *ngFor ="let temp of products" class="col-md-3">
                    <div class ="product-box">
                        
                        <!--adding a link on the product image-->
                        <a routerLink="/products/{{temp.id}}/{{category.id}}">
                            <img src="{{temp.imageUrl}}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{temp.id}}/{{category.id}}">
                            <h1>{{temp.name}}</h1>
                        </a>
                        <div class="price">{{temp.unitprice | currency:'USD'}} 
                      <button (click)="addToCart(temp)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                     <!--   <a href="#" class="primary-btn"> Add to cart</a>  -->
                    </div>
                </div>

                <!-- if products empty the display a message to user-->
                 <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                 </div>
            </div>
      
            <!-- begin footer  - adding support for pagination component -->
            <div class = "footer-pagination">
                <div class="row">
                    <div class = "col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class = "col-md-9" style="padding-left:30">
                                <ngb-pagination [(page)] = "thePageNumber"
                                                [pageSize] = "thePageSize"
                                                [collectionSize] = "theTotalElements" 
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange) = "listProducts() ">

                                </ngb-pagination>
                            </div>
                            <!-- adding support for adaptive page size component-->
                            <div class="col-md-3" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- end footer -->

        </div>
    </div>
</div>